
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    var List = Html.Partial("_StudentList");
    List = new MvcHtmlString(" <h3>Here is the Student List</h3> " + List.ToString());
 }

@List

@{ 

    Html.RenderPartial("_StudentList");
}